.card {
    text-align: center;
    width: 110px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    padding: 20px;
    margin-left: 552px;
}
.closeIcon {
    float: right;
    margin-top: -14px;
    margin-right: -7px;
}